<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="finanzasapp"  <!-- Asegúrate de que coincide con tu package.name -->
    android:versionCode="1"
    android:versionName="1.0">
    
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />

    <application android:label="MiApp" android:icon="@mipmap/icon">
        <activity android:name="org.test.myapp.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.kivy.android.PythonActivity" />
    </application>
</manifest>